<!DOCTYPE html>
<html>
  <head>
    <title>Canvas Stickers!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='/javascripts/flotr2.min.js'></script>
    <script src='/socket.io/socket.io.js'></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
